.header 
{
  height: 55px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  border-bottom: 1px solid rgb(228, 228, 228);
  z-index: 100;
}

.left-section 
{
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.hamburger-menu-container 
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 20px;
}

.hamburger-menu-container:hover 
{
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}

.youtube-logo 
{
  margin-left: 16px;
  height: 20px;
}

.middle-section 
{
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 660px;
  display: flex;
  align-items: center;
}

.search-bar 
{
  flex: 1;
  height: 36.4px;
  padding-left: 15px;
  font-size: 16px;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 20px 0px 0px 20px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0px; 
}

.search-bar::placeholder 
{
  font-size: 16px;
}

.search-button, 
.voice-search-button,
.create-button,
.youtube-apps-container,
.notifications-button
{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button 
{
  height: 40px;
  width: 66px;
  background-color: rgba(240, 240, 240, 0.2);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(210, 210, 210);
  margin-right: 10px;
  padding-left: 3px;
  border-radius: 0px 20px 20px 0px;
}

.search-button:hover
{
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}

.search-button .tooltip, 
.voice-search-button .tooltip,
.create-button .tooltip,
.youtube-apps-container .tooltip,
.notifications-button .tooltip
{
  position: absolute;
  background-color: grey;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -40px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.create-button:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notifications-button:hover .tooltip
{
  opacity: 1;
}

.search-icon 
{
  height: 25px;
}

.voice-search-button 
{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245, 245, 245);
}

.voice-search-button:hover
{
  cursor: pointer;
  background-color: rgb(225, 225, 225);
}

.voice-search-icon 
{
  height: 24px;
}

.right-section
{
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}

.create-button
{
  background-color: rgb(240, 240, 240);
  padding-right: 14px;
  padding-left: 13px;
  border-radius: 20px;
  position: relative;
  border-style: none;
  anchor-name: --create-button;

  font-weight: 550;
  font-size: 14px;
  font-family: Roboto, Arial;
}

.create-button .icon-area
{
  width: 30px;
}

.create-button:hover
{
  background-color: rgb(225, 225, 225);
  cursor: pointer;
}

.create-menu
{
  margin: 0px;
  inset: auto;
  padding: 0px;

  width: 175px;
  background-color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  transition-delay: 0s;
  border-style: none;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  position-anchor: --create-button;
  top: anchor(bottom);
  left: anchor(left);
  margin-block-start: 7px;
  overscroll-behavior: contain;
}

.create-menu:popover-open
{
  display: flex;
  flex-direction: column;
}



.upload-icon
{
  height: 24px;
}


.notifications-icon
{
  height: 24px;
  position: relative;
}

.notifications-button
{
  width: 30px;
  height: 30px;
  position: relative;
  background-color: white;
  border-radius: 20px;
  border-style: none;
  padding: 20px;

  anchor-name: --notification-button
}

.notifications-button:hover
{
  cursor: pointer;
  background-color: rgb(225, 225, 225);
}

.notification-count
{
  position: absolute;
  top: -9px;
  right: -6px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-size: 9px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
  border-style: solid;
}

.notifications-pop-up
{
  margin: 0px;
  inset: auto;

  background-color: white;
  width: 490px;
  height: 650px;
  padding: 0px;
  border-style: none;
  border-radius: 13px;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);

  position-anchor: --notification-button;
  top: anchor(bottom);
  right: anchor(right);
  margin-top: 7px;
  overscroll-behavior: contain;
}

.notifications-pop-up:popover-open
{
  display: flex;
  flex-direction: column;
}

.notifications-header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  padding-left: 16px;
}

.settings-icon-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  padding-bottom: 4px;
  border-radius: 20px;
}

.settings-icon-container:hover
{
  background-color: rgb(225, 225, 225);
}

.settings-icon
{
  width: 24px;
}

.big-notification-container
{
  width: 120px;
  height: 120px;
  padding-bottom: 25px;
}

.big-notification-container svg path 
{
  fill: grey;
}

.notifications-main-body
{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: 1px solid rgb(228, 228, 228);
}

.profile-button
{
  background-color: white;
  border-style: none;
  anchor-name: --profile-button;
}

.profile-button:hover
{
  cursor: pointer;
}

.current-user-pic
{
  height: 32px;
  width: 32px;
  border-radius: 18px;
}

.profile-menu
{
  margin: 0px;
  inset: auto;
  padding: 0px;

  width: 300px;
  border-style: none;
  border-radius: 15px;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);

  position-anchor: --profile-button;
  top: anchor(top);
  right: anchor(left);
  margin-right: 15px;
  overscroll-behavior: contain;
}

.profile-menu:popover-open
{
  display: flex;
  flex-direction: column;
}

.profile-menu button
{
  text-align: left;
  background-color: white;
  border-style: none;
}

.profile-menu-section
{
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(228, 228, 228);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profile-menu-header
{
  display: flex;
  flex-direction: row;
  padding: 8px 16px;
}

.profile-menu-header:hover
{
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}

.profile-container .profile-pic
{
  width: 40px;
  height: 40px;
}

.pfp-area
{
  height: 50px;
  width: 55px;
}

.profile-info
{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.profile-container .pop-up-icon-area
{
  padding-right: 5px;
}

.switch-acc-menu
{
  margin: 0px;
  inset: auto;
  padding: 0px;
  
  background-color: white;
  border-style: none;
  border-radius: 15px;
  width: 300px;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
  overscroll-behavior: contain;

  position-anchor: --profile-button;
  top: anchor(bottom);
  right: anchor(right);
  margin-top: 7px;
}

.switch-acc-menu:popover-open
{
  display: flex;
  flex-direction: column;
}

.arrow-symbol
{
  border-radius: 100px;
}

.arrow-symbol:hover
{
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}

